* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*inicio del css del navbar*/

@keyframes movingBackground {
    0% {
      background-position: 0 50%
    }
  
    100% {
      background-position: -100% 50%;
    }
  }

.navbar {
    height: 180px !important;
    width: 100% !important;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url('../assets/background.jpg') repeat-x;
    background-size: cover;
    animation: movingBackground 30s linear infinite;
}

.btn-navbar{
  margin-left: 14rem;
}

.nav-container{
    background-color: rgba(93, 83, 78, 0.9) !important;
}

.menu-navbar{
  margin-left: 10rem;;
}

.nav-img{
  height: 100px !important;
  width: 180px !important;
  max-width: 180px !important;
}

.modal-suscribe{
  background-color: rgb(110, 106, 105) !important;
}

.modal-backdrop {
  z-index: 0 !important;
}
/*fin del css del navbar*/



/* Modal */
.register-link{
  color: rgb(0, 0, 85);
  text-decoration: none;

}
.register-link:hover{
  color: rgb(0, 17, 255);
  font-size: 16.5px;
}

.redes-modal-login ul{
  list-style-type: none;
}
.redes-modal-login-text{
  color: rgb(0, 0, 85);
  text-decoration: none;   
}

.redes-modal-login-text:hover{
  color: rgb(0, 17, 255);
  font-size: 16.5px;
}

/* Fin modal */

/** main y body*/
body{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    flex-grow: 1;
    padding-top: 25px;
    background-color: rgb(39, 35, 33);
}

  /**fin main y body*/

.register-div-h2{
    /*width: 100% !important;*/
    margin-top: 160px;
}

.register-input{
   /* width: 350px !important;*/
    border-radius: 10px;
    border-style: double;
    border: 3px solid black;
    height: 40px;
}
.register-input:hover{
    border: 3px solid white;
}

.register-btn{
   width: 200px;
    font-size: large;
}
.register-btn:hover{
    border: 4px solid black;
}
.have-account-link{
  /*  margin-left: 9px !important;*/
    text-decoration: underline;
    color: rgb(255, 255, 255);
}
.have-account-link:hover{
    color: rgb(98, 82, 168);
    text-decoration: underline;
}


/* inicio Footer **/
#copyrightFooter {
    text-align: center;
    color: #e0e0e0;
  }
  #cuerpoFooter .h5 {
    color: #5d534e;
   text-decoration:underline #5c636a
  }
  #cuerpoFooter li a,li{
    text-decoration: none ;
    color: #e0e0e0;
  }
  #cuerpoFooter ul {
    list-style: none;
  }
/**fin del footer**/

@media (max-width: 1475px){
  @keyframes movingBackground {
    0% {
      background-position: 0 50%
    }
  
    100% {
      background-position: -100% 50%;
    }
  }

  .navbar {
    height: 180px !important;
    width: 100% !important;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url('../assets/background.jpg') repeat-x;
    background-size: cover;
    animation: movingBackground 30s linear infinite;
  }

  .btn-navbar{
    margin-left: 2rem !important;
    justify-content: center !important;
    align-items: center !important;
}
}

@media (max-width: 1300px){
    /*inicio css media-query navbar*/
    @keyframes movingBackground {
      0% {
        background-position: 0 50%
      }
    
      100% {
        background-position: -100% 50%;
      }
    }
  
    .navbar {
      height: 180px !important;
      width: 100% !important;
      background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url('../assets/background.jpg') repeat-x;
      background-size: cover;
      animation: movingBackground 30s linear infinite;
    }

    .nav-container{
      background-color: rgba(93, 83, 78, 0.9) !important;
        width: 100% !important;
        border-radius: 5px;
    }

    .nav-img{
        height: 100px !important;
        width: 180px !important;
        max-width: 180px !important;
    }

    .btn-navbar{
      margin-left: 2rem;
      justify-content: center !important;
  }
    
    .menu-navbar{
        margin-left: 2rem;
    }

    .nav-link{
        font-size: 19px !important;
        margin: 0 !important;
        padding: 0 !important;
    } 
    /*fin css media-query navbar*/
}

@media (max-width: 991px){
  .admin-text{
    text-align: start !important;
  }

  .nav-container {
    background-color: rgba(93, 83, 78) !important;
  }
}

@media (max-width: 768px){
      /*inicio css media-query navbar*/
      @keyframes movingBackground {
        0% {
          background-position: 0 50%
        }
      
        100% {
          background-position: -100% 50%;
        }
      }
    
      .navbar {
        height: 180px !important;
        width: 100% !important;
        background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url('../assets/background.jpg') repeat-x;
        background-size: cover;
        animation: movingBackground 30s linear infinite;
      }

      .nav-container{
        width: 100% !important;
        background-color: rgba(93, 83, 78) !important;
    }

    .btn-navbar{
        margin-left: 0;
    }

    .nav-img{
        height: 100px !important;
        width: 180px !important;
        max-width: 180px !important;
      }
    
    .menu-navbar{
        margin-left: 0;
    }

    .nav-link{
        font-size: 19px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    /*fin css media-query navbar*/
}

@media (max-width: 576px){

      /*inicio css media-query navbar*/
      @keyframes movingBackground {
        0% {
          background-position: 0 50%
        }
      
        100% {
          background-position: -100% 50%;
        }
      }
    
      .navbar {
        height: 180px !important;
        width: 100% !important;
        background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url('../assets/background.jpg') repeat-x;
        background-size: cover;
        animation: movingBackground 30s linear infinite;
      }

      .nav-container{
         width: 100% !important;
         background-color: rgba(93, 83, 78) !important;
      }

      .nav-img{
        height: 100px !important;
        width: 200px !important;
        max-width: 200px !important;
      }

      .btn-navbar{
        margin-left: 0px !important;
      }
      /*fin css media-query navbar*/
}
