* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*inicio del css del navbar*/

@keyframes movingBackground {
    0% {
      background-position: 0 50%
    }
  
    100% {
      background-position: -100% 50%;
    }
  }

.navbar {
    height: 180px !important;
    width: 100% !important;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url('../assets/background.jpg') repeat-x;
    background-size: cover;
    animation: movingBackground 30s linear infinite;
}

.btn-navbar{
  margin-left: 14rem;
}

.nav-container{
    background-color: rgb(93, 83, 78, 0.9) !important;
}

.menu-navbar{
  margin-left: 10rem;;
}

.nav-img{
  height: 100px !important;
  width: 180px !important;
  max-width: 180px !important;
}

.modal-suscribe{
  background-color: rgb(110, 106, 105) !important;
}

.modal-backdrop {
  z-index: 0 !important;
}
/*fin del css del navbar*/
/* Modal */
.register-link{
    color: rgb(0, 0, 85);
    text-decoration: none;

}
.register-link:hover{
    color: rgb(0, 17, 255);
    font-size: 16.5px;
}

.redes-modal-login ul{
    list-style-type: none;
}
.redes-modal-login-text{
    color: rgb(0, 0, 85);
    text-decoration: none;   
}

.redes-modal-login-text:hover{
    color: rgb(0, 17, 255);
    font-size: 16.5px;
}

/* Fin modal */
/*inicio del css detalle*/

.detalle{
    width: 70% !important;
    margin-top:180px;
    background-color: rgb(225, 225, 225);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.descripcion-detalle{
    width: 50% !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; 
}

.sinopsis{
    text-align: center !important;
}


.btn-carrito{
    width: 250px !important;
}

.img-main{
    border-radius: 30px;
}
/*fin del css detalle*/
/** main y body*/
body{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    flex-grow: 1;
    padding-top: 25px;
    background-color: rgb(225, 225, 225);
  }

.contenido{
    width: 70% !important;
}

.card{
    border: 3px solid grey !important;
}

.card-body{
    background-color: rgb(93, 83, 78) !important;
}

/*fin main y body*/
/* inicio Footer **/

#copyrightFooter {
    text-align: center;
    color: #e0e0e0;
  }
  #cuerpoFooter .h5 {
    color: #5d534e;
   text-decoration:underline #5c636a
  }
  #cuerpoFooter li a,li{
    text-decoration: none ;
    color: #e0e0e0;
  }
  #cuerpoFooter ul {
    list-style: none;
  }
/**fin del footer**/

@media (max-width: 1475px){
    /*inicio css media-query navbar*/
    .contenido{
        width: 80% !important;
    }

    @keyframes movingBackground {
        0% {
          background-position: 0 50%
        }
      
        100% {
          background-position: -100% 50%;
        }
      }
    
      .navbar {
        height: 180px !important;
        width: 100% !important;
        background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url('../assets/background.jpg') repeat-x;
        background-size: cover;
        animation: movingBackground 30s linear infinite;
      }

    .btn-navbar{
          margin-left: 2rem !important;
          justify-content: center !important;
          align-items: center !important;
    }
}

@media (max-width: 1300px){
    /*inicio css media-query navbar*/
    @keyframes movingBackground {
        0% {
          background-position: 0 50%
        }
      
        100% {
          background-position: -100% 50%;
        }
      }
    
      .navbar {
        height: 180px !important;
        width: 100% !important;
        background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url('../assets/background.jpg') repeat-x;
        background-size: cover;
        animation: movingBackground 30s linear infinite;
      }

    .nav-container{
        background-color: rgba(93, 83, 78, 0.9) !important;
        width: 100% !important;
        border-radius: 5px;
    }

    .nav-img{
        height: 100px !important;
        width: 180px !important;
        max-width: 180px !important;
    }

    .btn-navbar{
        margin-left: 2rem;
        justify-content: center !important;
    }
    
    .menu-navbar{
        margin-left: 2rem;
    }

    .nav-link{
        font-size: 19px !important;
        margin: 0 !important;
        padding: 0 !important;
    } 
    /*fin css media-query navbar*/

    .detalle{
        width: 80% !important;
    }
}

@media (max-width: 870px){
    /*inicio css media-query navbar*/
    @keyframes movingBackground {
        0% {
          background-position: 0 50%
        }
      
        100% {
          background-position: -100% 50%;
        }
      }
    
      .navbar {
        height: 180px !important;
        width: 100% !important;
        background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url('../assets/background.jpg') repeat-x;
        background-size: cover;
        animation: movingBackground 30s linear infinite;
      }

    .detalle{
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important; 
    }

    .descripcion-detalle{
        width: 80% !important;
    }

    .img-detalle{
        width: 80% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important; 
    }
}

@media (max-width: 768px){
    /*inicio css media-query navbar*/
    @keyframes movingBackground {
        0% {
          background-position: 0 50%
        }
      
        100% {
          background-position: -100% 50%;
        }
      }
    
      .navbar {
        height: 180px !important;
        width: 100% !important;
        background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url('../assets/background.jpg') repeat-x;
        background-size: cover;
        animation: movingBackground 30s linear infinite;
      }

    .nav-container{
        width: 100% !important;
        background-color: rgba(93, 83, 78, 0.9) !important;
    }

    .btn-navbar{
        margin-left: 0;
    }

    .nav-img{
        height: 100px !important;
        width: 180px !important;
        max-width: 180px !important;
      }
    
    .menu-navbar{
        margin-left: 0;
    }

    .nav-link{
        font-size: 19px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    /*fin css media-query navbar*/
    /*inicio del css detalle*/

    .detalle{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .descripcion-detalle{
        width: 100% !important;
    }

    /*fin del css detalle*/
}

@media (max-width: 576px){

      /*inicio css media-query navbar*/
      @keyframes movingBackground {
        0% {
          background-position: 0 50%
        }
      
        100% {
          background-position: -100% 50%;
        }
      }
    
      .navbar {
        height: 180px !important;
        width: 100% !important;
        background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url('../assets/background.jpg') repeat-x;
        background-size: cover;
        animation: movingBackground 30s linear infinite;
      }

      .nav-container{
         width: 100% !important;
         background-color: rgba(93, 83, 78, 0.9) !important;
      }

      .nav-img{
        height: 100px !important;
        width: 180px !important;
        max-width: 180px !important;
      }
      /*fin css media-query navbar*/
      /*inicio del css detalle*/

      .detalle{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img-main{
        width: 90%;
    }

    iframe{
        width: 100% !important;
    }
    /*fin del css detalle*/
}
