* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*inicio del css del navbar*/

@keyframes movingBackground {
    0% {
      background-position: 0 50%
    }
  
    100% {
      background-position: -100% 50%;
    }
  }

.navbar {
    height: 180px !important;
    width: 100% !important;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url('../assets/background.jpg') repeat-x;
    background-size: cover;
    animation: movingBackground 30s linear infinite;
}

.btn-navbar{
  margin-left: 14rem;
}

.nav-container{
    background-color: rgba(93, 83, 78, 0.9) !important;
}

.menu-navbar{
  margin-left: 10rem;;
}

.nav-img{
  height: 100px !important;
  width: 180px !important;
  max-width: 180px !important;
}

.modal-suscribe{
  background-color: rgb(110, 106, 105) !important;
}

.modal-backdrop {
  z-index: 0 !important;
}
/*fin del css del navbar*/



/* Modal */
.register-link{
    color: rgb(0, 0, 85);
    text-decoration: none;

}
.register-link:hover{
    color: rgb(0, 17, 255);
    font-size: 16.5px;
}

.redes-modal-login ul{
    list-style-type: none;
}
.redes-modal-login-text{
    color: rgb(0, 0, 85);
    text-decoration: none;   
}

.redes-modal-login-text:hover{
    color: rgb(0, 17, 255);
    font-size: 16.5px;
}

/* Fin modal */
/* search bar*/
.section-main {
  margin-top:180px;
  background-color: rgba(45, 42, 42, 0.9);
  padding: 20px 0;
}
.form-control{
  height: 44px;
}
/*search bar End*/

/*inicio del css destacado*/

.destacado{
    width: 100% !important;
    background-color: rgb(39, 35, 33);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-main{
    border-radius: 30px;
}

/*fin del css destacado*/
/** main y body*/
body{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    flex-grow: 1;
    padding-top: 25px;
    background-color: rgb(39, 35, 33);
  }
.mainQuienesSomos{
  flex-grow: 1;
  padding-top: 150px;
  background-color: rgb(39, 35, 33);
}
  .main-title{
    margin-top: 40px !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
  }
  #tituloAdministrarComic , #textoSynopsis,#tituloContacto, .subtituloContacto,.p{
    color:#f8f9fa
  }
  #tituloContacto {
    animation: aparecerAnimacion 1s ease-in-out forwards;
    opacity: 0;
  }
  
  @keyframes aparecerAnimacion {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .error404-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #error404-img{
    width: 925px ;
    margin-top: 180px;
  }

  #listaContacto li {
  list-style: none;
  font-size: 18px;
  padding: 5px;
  margin:  0px 2px;
}
#listaContacto li a{
  color: #e0e0e0;
  text-decoration: none;
}
#listaContacto li i {
  font-size: 20px;
}
.fondoContacto{
  background-color: #7c706a;
  margin: 10px 10px;
  padding: 10px 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 1);
  border: #333 solid;
  border-radius: 20px;
}
.parrafoFinal{
  font-size: 18px;
  margin: 15px 0px;
  font-style: italic;
  color: #e0e0e0;
}
.btnEnviarComentario{
  width: 70%;
  background-color: #2e3337;
  color: #e0e0e0;
  border: #2e3337;
}
.btnEnviarComentario:hover{
  background-color: #5c636a;
}
main{
  flex-grow: 1;
  background-color: rgb(39, 35, 33);
}
.mainContacto{
  padding-top: 200px;
}
.panelMasInformacion{
  background-color: #5d534e;
  padding: 15px;
  margin: 0px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 1);
  border: #333 solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.iconoContacto{
  padding: 0px 10px;
}
.panelMasInformacion:hover{
  background-color: #878c90;
}
.formulario input:hover{
  background-color: #abaeb0;
}
.mainAdministrador {
  padding-top: 220px;
}
.formulario label {
  color: #e0e0e0;
}
  /**fin main y body*/

.contenido{
    width: 70% !important;
}

.card{
    border: 3px solid grey !important;
}

.card-body{
    background-color: rgb(93, 83, 78) !important;
    width: 100% !important;
}

.quienesSomos {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: block;
  margin: 10% auto;
  border: auto;
  padding: 7p 0px;
  object-fit: cover;
}
/* inicio Footer **/


#copyrightFooter {
    text-align: center;
    color: #e0e0e0;
  }
  #cuerpoFooter .h5 {
    color: #5d534e;
   text-decoration:underline #5c636a
  }
  #cuerpoFooter li a,li{
    text-decoration: none ;
    color: #e0e0e0;
  }
  #cuerpoFooter ul {
    list-style: none;
  }
/**fin del footer**/

/** tablas***/
table {
    background-color: #f8f9fa;
}
.paintRow{
  background-color: #ffeeba;
}
.checkboxPublicado{
  width: 20px;
  height: 20px;
  border: 2px solid #999;
  border-radius: 4px;
}
#btnNuevoComic{
  background-color:#7c706a ;
  border: #7c706a;
  font-size: 18px;
  color: #333;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
#btnNuevoComic:hover {
  background-color: #ddd;
}
.formulario{
  margin: 3px;
  padding: auto;
}
/** fin de tablas***/
/**Modal***/
#sipnosisComic{
  resize: none;
}
.modalAgregarComics, .modalVideoComic{
  background-color: rgb(127, 124, 123) !important;
}
/***Fin de la modal***/


@media (max-width: 1475px){
    /*inicio css media-query contenido*/

    @keyframes movingBackground {
      0% {
        background-position: 0 50%
      }
    
      100% {
        background-position: -100% 50%;
      }
    }
  
    .navbar {
      height: 180px !important;
      width: 100% !important;
      background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url('../assets/background.jpg') repeat-x;
      background-size: cover;
      animation: movingBackground 30s linear infinite;
    }

    .contenido{
        width: 80% !important;
    }
    .formulario{
      margin: 0 auto;
    }
    .panelMasInformacion{
      margin: 0 auto;
    }
    .btn-navbar{
      margin-left: 2rem !important;
      justify-content: center !important;
      align-items: center !important;
  }
}


@media (max-width: 1300px){
    /*inicio css media-query navbar*/
    @keyframes movingBackground {
      0% {
        background-position: 0 50%
      }
    
      100% {
        background-position: -100% 50%;
      }
    }
  
    .navbar {
      height: 180px !important;
      width: 100% !important;
      background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url('../assets/background.jpg') repeat-x;
      background-size: cover;
      animation: movingBackground 30s linear infinite;
    }

    .nav-container{
        background-color: rgba(93, 83, 78, 0.9) !important;
        width: 100% !important;
        border-radius: 5px;
    }

    .nav-img{
        height: 100px !important;
        width: 180px !important;
        max-width: 180px !important;
    }

    .btn-navbar{
        margin-left: 2rem;
        justify-content: center !important;
    }
    
    .menu-navbar{
        margin-left: 2rem;
    }

    .nav-link{
        font-size: 19px !important;
        margin: 0 !important;
        padding: 0 !important;
    } 
    /*fin css media-query navbar*/

    .contenido{
        width: 80% !important;
    }
   
}

@media (max-width: 925px){
    #error404-img{
      width: 100% ;
      margin-top: 180px;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-left: 0px;
    }
}

@media (max-width: 870px){
    /*inicio css media-query contenido*/
    @keyframes movingBackground {
      0% {
        background-position: 0 50%
      }
    
      100% {
        background-position: -100% 50%;
      }
    }
  
    .navbar {
      height: 180px !important;
      width: 100% !important;
      background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url('../assets/background.jpg') repeat-x;
      background-size: cover;
      animation: movingBackground 30s linear infinite;
    }

    .contenido{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        
    }
    .panelMasInformacion{
      margin-top: 10px ;
    }

}

@media (max-width: 768px){
    /*inicio css media-query navbar*/
    .nav-container{
        width: 100% !important;
        background-color: rgba(93, 83, 78, 0.9) !important;
    }

    .btn-navbar{
        margin-left: 0;
    }

    .nav-img{
        height: 100px !important;
        width: 180px !important;
        max-width: 180px !important;
      }
    
    .menu-navbar{
        margin-left: 0;
    }

    .nav-link{
        font-size: 19px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    /*fin css media-query navbar*/
    /*inicio del css destacado*/

    .img-main, .card{
      width: 70% !important;
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
  }

    .destacado, .descripcion{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenido{
        width: 100% !important;
    }

    .btn-destacados{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    /*fin del css destacado*/
    .quienesSomos {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      display: block;
      margin: auto;
      padding: 7px 5px;
    }
    .mainQuienesSomos{
      padding-top: 180px;
    }
    .nombreequipo {
      color:rgb(127, 124, 123);
      font-size: 20px;
    }
    .descripcionEquipo{
      font-size: 15px;
    }
}

@media (max-width: 576px){

      /*inicio css media-query navbar*/
      @keyframes movingBackground {
        0% {
          background-position: 0 50%
        }
      
        100% {
          background-position: -100% 50%;
        }
      }
    
      .navbar {
        height: 180px !important;
        width: 100% !important;
        background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)),url('../assets/background.jpg') repeat-x;
        background-size: cover;
        animation: movingBackground 30s linear infinite;
      }

      .nav-container{
         width: 100% !important;
         background-color: rgba(93, 83, 78, 0.9) !important;
      }

      .nav-img{
        height: 100px !important;
        width: 180px !important;
        max-width: 180px !important;
      }
      /*fin css media-query navbar*/
      /*inicio del css destacado*/

      .destacado, .descripcion{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-destacados{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

      /*fin del css destacado*/
}


.nombreequipo {
  color:black
}
.descripcionEquipo{
  border-radius: 20px;
}