* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*inicio del css del navbar*/
.navbar {
    height: 200px;
    background-color: black;
    width: 100%;
}

.btn-navbar{
  margin-left: 14rem;
}

.nav-container{
    background-color: rgb(93, 83, 78) !important;
}

.menu-navbar{
  margin-left: 10rem;;
}

.nav-img{
  height: 100px !important;
  width: 200px !important;
  max-width: 200px !important;
}

.modal-suscribe{
  background-color: rgb(110, 106, 105) !important;
}

.modal-backdrop {
  z-index: 0 !important;
}
/*fin del css del navbar*/
/*inicio del css destacado*/

.destacado{
    width: 100% !important;
    margin-top:200px;
    background-color: rgb(39, 35, 33);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-main{
    border-radius: 30px;
}

/*fin del css destacado*/
/** main y body*/
body{
    width: 100% !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    padding-top: 25px;
  }
  #tituloAdministrarComic , #textoSynopsis{
    color:#f8f9fa
  }
main{
  flex-grow: 1;
  background-color: rgb(39, 35, 33);
}
.mainAdministrador{
  padding-top: 220px;
}
  /**fin main y body*/

.contenido{
    width: 70% !important;
}

.card{
    border: 3px solid grey !important;
}

.card-body{
    background-color: rgb(93, 83, 78) !important;
}


/* inicio Footer **/


#copyrightFooter {
    text-align: center;
    color: #e0e0e0;
  }
  #cuerpoFooter .h5 {
    color: #5d534e;
   text-decoration:underline #5c636a
  }
  #cuerpoFooter li a,li{
    text-decoration: none ;
    color: #e0e0e0;
  }
  #cuerpoFooter ul {
    list-style: none;
  }
/**fin del footer**/

/** tablas***/
table,td,th {
	border: 1px solid black;
    background-color: #f8f9fa;
    color: black;
}
/** fin de tablas***/
/**Modal***/
#sipnosisComic{
  resize: none;
}
.modalAgregarComics, .modalVideoComic{
  background-color: rgb(127, 124, 123) !important;
}
/***Fin de la modal***/
/**video reproduccion**/
.video{
    position: relative;
    padding-bottom: 700px;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}

.video iframe{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
}
/**fin de video reproduccion**/


@media (max-width: 1475px){
    /*inicio css media-query navbar*/
    .contenido{
        width: 80% !important;
    }
}


@media (max-width: 1300px){
    /*inicio css media-query navbar*/
    .nav-container{
        background-color: rgb(93, 83, 78) !important;
        width: 90% !important;
        border-radius: 5px;
    }

    .nav-img{
        height: 100px !important;
        width: 200px !important;
        max-width: 200px !important;
    }

    .btn-navbar{
        margin-left: 2rem;
    }
    
    .menu-navbar{
        margin-left: 2rem;
    }

    .nav-link{
        font-size: 19px !important;
        margin: 0 !important;
        padding: 0 !important;
    } 
    /*fin css media-query navbar*/

    .contenido{
        width: 80% !important;
    }
}

@media (max-width: 870px){
    /*inicio css media-query navbar*/
    .contenido{
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        
    }
}

@media (max-width: 768px){
    /*inicio css media-query navbar*/
    .nav-container{
        width: 90% !important;
    }

    .btn-navbar{
        margin-left: 0;
    }

    .nav-img{
        height: 100px !important;
        width: 200px !important;
        max-width: 200px !important;
      }
    
    .menu-navbar{
        margin-left: 0;
    }

    .nav-link{
        font-size: 19px !important;
        margin: 0 !important;
        padding: 0 !important;
    }
    /*fin css media-query navbar*/
    /*inicio del css destacado*/

    .destacado{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenido{
        width: 100% !important;
    }
    /*fin del css destacado*/
}

@media (max-width: 576px){

      /*inicio css media-query navbar*/
      .nav-container{
         width: 100% !important;
      }

      .nav-img{
        height: 100px !important;
        width: 200px !important;
        max-width: 200px !important;
      }
      /*fin css media-query navbar*/
      /*inicio del css destacado*/

      .destacado{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

      /*fin del css destacado*/
}

@media (max-width: 410px){
    body{
        width: 410px !important;
    }
}